<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout.html}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Update Page</title>
</head>

<body>
    <div layout:fragment="content">
        <h1>Member Update Page</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">

                            <form action="/member/update" method="post">
                                <div class="form-group row">
                                    <label for="mname" class="col-sm-3 text-end control-label col-form-label">Member
                                        Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="mname" name="mname" th:value="${member.mname}" required>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email" class="col-sm-3 text-end control-label col-form-label">Member
                                        Email</label>
                                    <div class="col-sm-9">
                                        <input type="email" id="email" name="email" th:value="${member.email}" readonly>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="password" class="col-sm-3 text-end control-label col-form-label">Member
                                        Password (Protected)</label>
                                    <div class="col-sm-9">
                                        <input type="password" id="mpw" name="mpw" th:value="${member.mpw}"
                                            required>
                                    </div>
                                </div>
                  
                                <div class="form-group row">
                                    <div class="col-sm-9 offset-sm-3">
                                        <button type="submit"  class="btn btn-primary">Update</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>