<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- BoardMapper Xml -->
<mapper namespace="board.file.mappers.BoardMapper">


<select id="listBoard" parameterType="board.file.dto.board.BoardListDTO" resultType="board.file.dto.board.BoardListDTO">
    SELECT tb.*, CONCAT(tbi.uuid, '_', tbi.filename) AS fileName
    FROM tbl_board tb
    <if test="searchType != null and keyword != null">
        WHERE (
            <if test="searchType == 'title' or searchType == 'all'">
                tb.title LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'content' or searchType == 'all'">
                <if test="searchType == 'all'">OR</if>
                tb.content LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="searchType == 'writer' or searchType == 'all'">
                <if test="searchType == 'all'">OR</if>
                tb.writer LIKE CONCAT('%', #{keyword}, '%')
            </if>
        )
       
    </if>
    LEFT JOIN tbl_board_img tbi ON tb.tno = tbi.tno AND tbi.ord = 0
    WHERE tb.tno > 0
    ORDER BY tb.tno DESC 
    LIMIT #{skip}, #{size}
</select>


<!-- BoardMapper id = "createBoard" -->
<insert id="createBoard" parameterType="board.file.dto.board.BoardCreateDTO"
 useGeneratedKeys="true" keyProperty="tno">
    INSERT INTO tbl_board 
    (title, content, writer)
    VALUES(#{title}, #{content}, #{writer})

    <!-- last insert id 확인 -->
    <selectKey resultType="long" keyProperty="tno" order="AFTER">
        SELECT LAST_INSERT_ID()
    </selectKey>
</insert>


<!-- BoardMapper id = "deleteBoard" -->
<delete id="deleteBoard" parameterType="long">
    DELETE FROM tbl_board 
    WHERE tno = #{tno}
</delete>


<!-- fileNames의 resultMap -->
<!-- 파일명 결과 매핑 -->
<resultMap id="FileNameResultMap" type="java.lang.String">
  <id property="fileName" column="fileName"/>
</resultMap>


<!-- BoardMapper id = "readBoard" -->
<select id="readBoard" parameterType="long" resultMap="BoardResultMap">
  SELECT b.tno, b.title, b.content, b.writer, b.registDate, b.updateDate,
    CONCAT(i.uuid, '_', i.filename) AS fileName
FROM tbl_board b
LEFT OUTER JOIN tbl_board_img i ON b.tno = i.tno
WHERE b.tno = #{tno};
</select>


<!-- 여러개의 사진을 가져오기 위한 resultMap using -->
<resultMap id="BoardResultMap" type="board.file.dto.board.BoardDTO">
  <id property="tno" column="tno"/>
  <result property="title" column="title"/>
  <result property="content" column="content"/>
  <result property="writer" column="writer"/>
  <result property="registDate" column="registDate"/>
  <result property="updateDate" column="updateDate"/>
  <result property="replyCnt" column="replyCnt"/>
  <collection property="fileName" ofType="java.lang.String" resultMap="FileNameResultMap"/>
</resultMap>


<!-- BoardMapper id = "updateBoard" -->
<update id="updateBoard" parameterType="board.file.dto.board.BoardUpdateDTO">
    UPDATE tbl_board
    SET title = #{title}, content = #{content}, writer = #{writer}, updateDate = now()
    WHERE tno = #{tno}
</update>


<!-- BoardMapper id = "total" -->
<select id="total" resultType="int">
    SELECT COUNt(*) 
    FROM (SELECT * FROM tbl_board 
    WHERE tno > 0 
    LIMIT #{countEnd}
    ) tbl_board
</select>

</mapper>