<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- BoardMapper Xml -->
<mapper namespace="board.file.mappers.BoardMapper">


<select id="listBoard" parameterType="board.file.dto.board.BoardListDTO" resultType="board.file.dto.board.BoardListDTO">
  SELECT combinedData.nno, combinedData.tno, combinedData.title, combinedData.content, combinedData.writer, combinedData.registDate, combinedData.updateDate, combinedData.viewCnt, combinedData.replyCnt, combinedData.fileName, combinedData.type
  FROM (
    SELECT n.nno, NULL AS tno, n.title, n.content, n.writer, n.registDate, n.updateDate, n.viewCnt, NULL AS replyCnt, CONCAT(tni.uuid, '_', tni.filename) AS fileName, 'notice' AS type
    FROM tbl_notice n
    LEFT OUTER JOIN tbl_notice_img tni ON n.nno = tni.nno AND tni.ord = 0
    WHERE n.nno > 0
    UNION ALL
    SELECT NULL AS nno, b.tno, b.title, b.content, b.writer, b.registDate, b.updateDate, b.viewCnt, b.replyCnt, CONCAT(tbi.uuid, '_', tbi.filename) AS fileName, 'board' AS type
    FROM tbl_board b
    LEFT OUTER JOIN tbl_board_img tbi ON b.tno = tbi.tno AND tbi.ord = 0
    WHERE b.tno > 0
    <if test="keyword != null and types != null">
      <trim prefix="AND (" prefixOverrides="OR" suffix=")">
        <foreach collection="types" item="searchType" separator=" OR ">
          <if test='searchType == "t"'>
             b.title LIKE CONCAT('%', #{keyword}, '%')
          </if>
          <if test='searchType == "c"'>
             b.content LIKE CONCAT('%', #{keyword}, '%')
          </if>
          <if test='searchType == "w"'>
             b.writer LIKE CONCAT('%', #{keyword}, '%')
          </if>
        </foreach>
      </trim>
    </if>
  ) AS combinedData
  ORDER BY combinedData.nno DESC, combinedData.tno DESC
  LIMIT #{skip}, #{size}
</select>







<!-- BoardMapper id = "createBoard" -->
<insert id="createBoard" parameterType="board.file.dto.board.BoardCreateDTO"
 useGeneratedKeys="true" keyProperty="tno">
    INSERT INTO tbl_board 
    (title, content, writer)
    VALUES(#{title}, #{content}, #{writer})

    <!-- last insert id 확인 -->
    <selectKey resultType="long" keyProperty="tno" order="AFTER">
        SELECT LAST_INSERT_ID()
    </selectKey>
</insert>


<!-- BoardMapper id = "deleteBoard" -->
<delete id="deleteBoard" parameterType="long">
    DELETE FROM tbl_board 
    WHERE tno = #{tno}
</delete>


<!-- fileNames의 resultMap -->
<!-- 파일명 결과 매핑 -->
<resultMap id="FileNameResultMap" type="java.lang.String">
  <id property="fileName" column="fileName"/>
</resultMap>


<!-- BoardMapper id = "readBoard" -->
<select id="readBoard" parameterType="long" resultMap="BoardResultMap">
  SELECT b.tno, b.title, b.content, b.writer, b.registDate, b.updateDate,
    CONCAT(i.uuid, '_', i.filename) AS fileName
FROM tbl_board b
LEFT OUTER JOIN tbl_board_img i ON b.tno = i.tno
WHERE b.tno = #{tno};
</select>


<!-- 여러개의 사진을 가져오기 위한 resultMap using -->
<resultMap id="BoardResultMap" type="board.file.dto.board.BoardDTO">
  <id property="tno" column="tno"/>
  <result property="title" column="title"/>
  <result property="content" column="content"/>
  <result property="writer" column="writer"/>
  <result property="registDate" column="registDate"/>
  <result property="updateDate" column="updateDate"/>
  <result property="replyCnt" column="replyCnt"/>
  <collection property="fileName" ofType="java.lang.String" resultMap="FileNameResultMap"/>
</resultMap>


<!-- BoardMapper id = "updateBoard" -->
<update id="updateBoard" parameterType="board.file.dto.board.BoardUpdateDTO">
    UPDATE tbl_board
    SET title = #{title}, content = #{content}, writer = #{writer}, updateDate = now()
    WHERE tno = #{tno}
</update>


<!-- BoardMapper id = "total" -->
<select id="total" resultType="int">
    SELECT COUNT(*) 
    FROM (SELECT * FROM tbl_board 
    WHERE tno > 0 
    <if test="keyword != null and types != null">
    <trim prefix="and (" prefixOverrides="or" suffix=")">
      <foreach collection="types" item="searchType" separator=" OR ">
        <if test='searchType == "t"'>
          title like concat('%', #{keyword}, '%')
        </if>
        <if test='searchType == "c"'>
          content like concat('%', #{keyword}, '%')
        </if>
        <if test='searchType == "w"'>
          writer like concat('%', #{keyword}, '%')
        </if>
      </foreach>
    </trim>
  </if>
    LIMIT #{countEnd}
    ) tbl_board
</select>


<!-- BoardMapper id = "viewCount" -->
<update id="viewCount" parameterType="long">
    UPDATE tbl_board
    SET viewCnt = viewCnt +1
    WHERE tno = #{tno}
</update>


</mapper>