<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- LikeMapper Xml -->
<mapper namespace="board.file.mappers.LikeMapper">


    <!-- LikeMapper id = "createLike" -->
    <insert id="createLike" parameterType="board.file.dto.like.LikeDTO">
        INSERT INTO tbl_like
        (email , tno) 
        VALUES(#{email}, #{tno})
    </insert>


    <!-- LikeMapper id = "deleteLike" -->
    <delete id="deleteLike" parameterType="board.file.dto.like.LikeDTO">
        DELETE FROM 
        tbl_like
        WHERE tno = #{tno} AND email = #{email}
    </delete>


    <!-- LikeMapper id = "countLike" -->
    <select id="countLikes" parameterType="long">
       SELECT COUNT(*) FROM tbl_like
       WHERE tno = #{tno}
    </select>


    <!-- LikeMapper id = "checkLikeByMemberAndPost" -->
    <select id="checkLikeByMemberAndPost" parameterType="board.file.dto.like.LikeDTO">
        SELECT * FROM 
        tbl_like 
        WHERE tno = #{tno} AND email = #{email}
    </select>


    <!-- LikeMapper id = "createLikeNno" -->
    <insert id="createLikeNno" parameterType="board.file.dto.like.LikeDTO">
        INSERT INTO tbl_like_notice
        (email , nno) 
        VALUES(#{email}, #{nno})
    </insert>


     <!-- LikeMapper id = "deleteLikeNno" -->
    <delete id="deleteLikeNno" parameterType="board.file.dto.like.LikeDTO">
        DELETE FROM 
        tbl_like_notice
        WHERE nno = #{nno} AND email = #{email}
    </delete>


    <!-- LikeMapper id = "countLikeNno" -->
    <select id="countLikesNno" parameterType="long">
       SELECT COUNT(*) FROM tbl_like_notice
       WHERE nno = #{nno}
    </select>


    <!-- LikeMapper id = "checkLikeByMemberAndPostNno" -->
    <select id="checkLikeByMemberAndPostNno" parameterType="board.file.dto.like.LikeDTO">
        SELECT * FROM 
        tbl_like_notice 
        WHERE nno = #{nno} AND email = #{email}
    </select>


    <!-- MemberMapper id = "checkMemberEmail" -->
    <select id="checkMemberEmail" parameterType="java.lang.String" resultType="int">
        SELECT COUNT(*) FROM 
        tbl_member
        WHERE email = #{email}
    </select>


</mapper>